@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* work2 */
section {
    background: #eeeeee;
}

h1 {
    font-size: 2rem;
    color: #068272;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.wrap2 {
    max-width: 960px;
    margin: 30px auto;
    padding-bottom: 50px;
}
.wrap2 ul {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}
.wrap2 h2 {
    font-size: 1.6rem;
    color: #068272;
    border-left: 10px solid #068272;
    padding: 2px 5px;
    margin: 10px 5px;
}

.wrap2 li {
    background: white;
    width: 30%;
}

/* work4 */
@media screen and (max-width: 400px) {
    /*　画面サイズ 400px以下になったらここに書いてあるcssが適用される　*/
    .wrap2 ul {
        display: block;
        margin: 10px;
    }
    /* display:flex;を解除&横幅にマージン */
    .wrap2 li {
        width: 100%;
        margin: 30px auto;
    }
    /* 横幅100%まで広げるようにwidth設定&縦幅にマージンとる */
    .wrap2 img {
        width: 100%;
    }
    /* 写真を100%まで引き伸ばす。 */
    .wrap2 p {
        margin: 10px;
        padding-bottom: 10px;
    }
    /* テキストの周りにも余白をとってあげる */
}

/* QUESTION：縦横均等に並べる時はmarginとpadding
で調整してしまっていいのか？！ */
