@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-feature-settings: "palt";
    /* 上のやつは字幅メトリクスで指定 */
}

html {
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
    /*  */
}

/* テキストや画像にマウスが触れた時に何かが起こるもの。
　opacity→透明にする。０.５％透明するよって出す
　リンクで飛ぶよっていうのを表すときにこれをよく使う */
/* hoverは、ボタンの上にカーソルを乗せた時の演出を示すタグ */
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから課題 */

/* header */

body {
    background: #e8d9bf;
    /* 全体の背景色指定 */
}

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
    /* ％にしておくことでよりレスポンシブに対応するようにする */
}
.header_logo {
    width: 226px;
}
.pc_nav ul {
    display: flex;
}
.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    /*  */
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}
#header source {
    display: none;
}
.img {
    max-width: 100%;
}

/* スマホ版のcssスタート ：pcとspを出し分ける*/
/* スマホ版メニューは消す */
.sp_nav,
.sp_btn {
    display: none;
    /* まずはpc版で非表示にしておく */
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    /* ハンバーガー */
    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
        /* z-indexはレイヤーみたいなもの１２３４の順で１が前面に来るよ */
    }
    /* 1本線作る */
    .sp_btn span {
        position: relative;
        /* relative入ったタグが基準になる！（親要素にかける） */
        /* relativeとtopなど組み合わせると
        　棒線を好きなところに移動できる */
        top: 10px;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        /* 四角形の高さ低くして棒のように見せている */
        transition: 0.3s;
        /* これを入れると❌になるまでの過程をモーションで見ることができる
        おしゃれ！全バッテンに追加*/
    }
    /* 擬似要素before・afterと「content: "";」追加
    　　*/
    .sp_btn span::before,
    .sp_btn span::after {
        position: absolute;
        /* absolute使う時には、親要素にrelativeを入れないといけない。
        　　relativeが入った要素を基準に移動することになる */
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
        /* 真ん中の線から下に10px */
    }
    .sp_btn span::after {
        top: 10px;
        /* 真ん中の線から上に10px */
    }

    /* ここの説明２h；３０経過くらいのところ */
    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /* vhにすると全画面にできる。100%は違う、実際sp.navのスペースはちょびっとしかない */
        background: rgba(0, 0, 0, 0.8);
        /*  rgba(0, 0, 0, 0.8);これで透過した色になる。
        　１が１００％なので、0.8で不透明度８０％ */
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        /* 横並びなのか縦並びなのか指定するcss ,
        方向を変えられる！「row」だと横並びになるよ*/
        justify-content: center;
        /* flexと必ずセットな！ */
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
}

@media screen and (max-width: 767px) {
    .header_logo {
        width: 188px;
    }
}

/* リード文のエリア */

.lead_sentense {
    text-align: center;
    /* 親要素にtextalineかければ小要素にも引き継がれる。
    テキストに関するcssは、親→子で継承される。 */
    margin: 0 auto;
    padding: 80px;
}
.english {
    font-size: 30px;
    /* font-weightはnormalで入れる（游明朝の場合） */
    padding-bottom: 30px;
    max-width: 100%;
}
.text-center {
    font-size: 82px;
    padding: 20px;
    line-height: 1.17;
    letter-spacing: 0.1em;
}

.main_sentense1 {
    font-size: 23px;
    padding-top: 10px;
    line-height: 1.62;
    letter-spacing: 0.1em;
}

.sp-only {
    display: none;
    /* pcの時は映さないよ */
}
@media screen and (max-width: 767px) {
    .sp-only {
        display: block;
        /* sp版になったので表示するよ */
    }

    .main_sentense1 {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 50px;
        line-height: 1.62;
        letter-spacing: 0.1em;
    }
}

/* ABOUS US */

.section {
    max-width: 1000px;
    margin: 0 auto;
}
#about {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.pc_about_us_picture {
    padding-right: 80px;
    width: 50%;
}
.pc_about_us_picture img {
    border-bottom-right-radius: 80px;
}
.sp_about_us_picture img {
    display: none;
}
.main {
    width: 41%;
}
.sp_about {
    display: none;
    padding-top: 0;
}

.pc_about {
    padding-top: 60px;
    width: 270px;
    padding-bottom: 40px;
}
.main_copy {
    font-size: 44px;
    font-weight: 200;
    line-height: 1.39;
    padding-bottom: 20px;
    text-align: start;
}

.main_sentense2 {
    font-size: 16px;
    line-height: 1.65;
    /* /* line-heightは行間を調整 */
}

/* ここからMENU */

#menu {
    /* idは＃で示す*/
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 20px;
}

/* sectionでh2は今後全部中央揃えなので、一気にcssかける */
section h2 {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
}

/* id「MENU」の中にある、ulタグだから＃ */
#menu ul {
    display: flex;
    justify-content: space-between;
}

#menu ul li {
    /*⭐️重要⭐️display:flexを使う時、その子要素がならぶ
レイアウトの割合（比率）を決めてあげないといけない！ */
    width: 30%;
}

#menu ul li img {
    /* ul li入れないと、h2内の見出しMENUも角丸になちゃうので
    　より細かく指定してあげる（ul li) */
    border-top-right-radius: 45px;
    margin-bottom: -10px;
    width: 100%;
    /* 大元のimgにwidth100%指定して、レスポンシブに対応するように設定 */
}

/* 最初の画像だけは角丸つけないので、
＃MENU imgの後にピンポイントでcss上書きする。 
first-childは効かなかった*/
#menu h2 {
    width: 150px;
    margin: 0 auto;
    /* 画像のサイズ、AIデータのWとHの数値をwidthに入れているけど
    　これでいいのか・・・？font-size使ってもサイズ変わらない */
}

#menu h3 {
    color: #d30202;
    font-size: 35px;
    padding-left: 10px;
    font-weight: 400;
}

#menu p {
    font-size: 17px;
    font-weight: 200;
    line-height: 150%;
    padding-top: 15px;
    padding-bottom: 20px;
}

/* ここからGallery */

#gallery {
    max-width: 100%;
}

#gallery h2 {
    width: 245px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 30px;
}
#gallery ul {
    display: flex;
}

#gallery img {
    border-top-right-radius: 0px;
}

/* ここからevent */

#event {
    max-width: 1000px;
    padding: 0 10px;
}

#event h2 {
    width: 173px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 30px;
}

/* ここからEVENTのニュース */
.event_detail {
    display: flex;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    border: 3px solid #4f260b;
    max-width: 100%;
    justify-content: center;
    overflow: hidden;
    /* はみ出た文の処理 */
    /* heightで箱の幅は指定しない！News追加された時にはみ出る */
}
.date {
    padding-bottom: 35px;
    padding-top: 35px;
    font-size: 23px;
    font-weight: 100;
    max-width: 100%;
    /* 縦幅heightで指定していいのか？→NGNGNGダメです
    　これ以上増えた時に対応しないから別の書き方がいいのか？→そうです！
    　　paddingで調整しよう */
}

#event ul li {
    display: flex;
    /* ここflex! */
    align-items: center;
}
#event li + li {
    padding-top: 20px;
}

#event time {
    padding-right: 55px;
}

.date a {
    text-decoration: 2px solid underline;
}

/* ここからアクセス */

#access {
    max-width: 100%;
}

#access h2 img {
    width: 213px;
    border-top-right-radius: 0px;
    text-align: center;
    padding-top: 40px;
}

#access iframe {
    display: block;
    /* top: 0;　→position:absoluteやposition fixed?
    left: 0;  　 と一緒に使うよ！注意。だから適用されてない。  
    justify-content: center; →display:flex;と一緒に使う
    aline: items;もflexと一緒*/
    max-width: 100%;
}

/* hooter */

#footer {
    display: flex;
    max-width: 1900px;
    background: white;
    justify-content: center;
    /* marginのやつが効かない＞＜ */
    padding-top: 70px;
    padding-right: 370px;
}

#footer img {
    width: 213px;
    height: 50px;
    border-top-right-radius: 0px;
    padding-left: 40px;
}
#footer ul {
    padding-left: 60px;
    padding-bottom: 30px;
    font-size: 20px;
}
#footer li {
    color: black;
    line-height: 1.95;
}

.footer_p p {
    color: black;
    max-width: 1900px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
    background: #fff;
}
/* PAGE TOP */
.pagetop {
    width: 125px;
    right: 40px;
    bottom: 40px;
    position: fixed;
}

.pagetop a {
    transition: 0.3s;
}

.pagetop img {
    width: 100%;
    transition: 0.3s;
}

.active {
    opacity: 1;
    /* opacityは不透明どのこと */
    visibility: visible;
}

/* 以下スマホ版*/
@media screen and (max-width: 1100px) {
    .text-center {
        font-size: 38px;
        padding: 0px;
        width: 100%;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 767px) {
    /* ヘッダー */
    .english {
        font-size: 17px;
    }
    .lead_sentense {
        padding: 40px 0px 0px 0px;
    }

    /* 導入 */

    /* About us */

    #about {
        display: block;
        /* display:block;とwidth:100%;は同じ意味なので
　一緒に使わない！ */
    }

    .sp_about {
        display: block;
        margin: 0 auto;
        width: 160px;
        padding-bottom: 10px;
    }
    .pc_about {
        display: none;
    }
    .main {
        width: 100%;
    }
    .pc_about_us_picture img {
        display: none;
    }
    .sp_about_us_picture img {
        display: block;
        padding-top: 20px;
    }
    .main_copy {
        font-size: 36px;
        padding-top: 30px;
        padding-left: 20px;
    }
    .main_sentense2 {
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.75;
    }

    /* MENU */
    #menu {
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 35px;
        padding-right: 35px;
    }
    #menu h2 {
        padding: 30px;
        width: 88px;
    }
    #menu ul {
        display: block;
    }
    #menu ul li {
        width: 100%;
        /* pcの時にwidth:30%;だったので、
        ここでは100%で指定してあげる */
    }

    #menu p {
        text-align: justify;
    }
    /* Gallary */
    #gallery h2 img {
        width: 143px;
    }

    #gallery ul {
        display: block;
    }

    /* EVENT */

    #event h2 {
        width: 100px;
        padding-bottom: 20px;
    }
    .event_detail {
        display: block;
    }
    .date {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        font-weight: 100;
        max-width: 100%;
    }

    #event ul li {
        display: block;
        align-items: center;
    }
    #event li + li {
        padding-top: 20px;
    }

    .date a {
        display: block;
        /* インライン要素、timeタグもインライン要素
→どうしても横並びになっちゃうので、diaplay:block;かけて改行する。
　ブロック要素にしちゃう！*/
        text-decoration: 2px solid underline;
        /* ３点リーダーに下記必要 */
        /* widthで横幅の指定も必要だが、今回はdisplayblockがその役割してる */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* ACCESS */
    .section h2 {
        padding: 0px;
    }
    #access h2 img {
        width: 124px;
        text-align: center;
        padding: 40px 0px 20px 0px;
    }
    #access iframe {
        display: block;
        height: 191px;
        max-width: 100%;
    }
    /* footer */
    #footer {
        padding-top: 50px;
    }
    .footer {
        display: block;
        padding: 0px;
    }
    #footer img {
        width: 227px;
        padding: 0px 0px 20px 20px;
    }
    #footer ul {
        padding: 0px 0px 30px 20px;
    }
    #footer ul li {
        line-height: 35px;
    }
    #footer p {
        padding-bottom: 30px;
    }

    /* pagetop */
    .pagetop {
        width: 100px;
        right: 20px;
        bottom: 20px;
        /* position: fixed;→親要素のcssを継承しているので不要 */
    }
}
