@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #666666;
    font-family: "筑紫A丸ゴシック", "FOT-マティス ProN M",
        "Savoye LET Plain:1.0", "メイリオ", "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", sans-serif;
    font-feature-settings: "palt";
    /* 上のやつは字幅メトリクスで指定 */
}

html {
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
    /*  */
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから課題 */

/* スマホ版のcssスタート ：pcとspを出し分ける*/
/* スマホ版メニューは消す */
.sp_nav,
.sp_btn {
    display: none;
    /* まずはpc版で非表示にしておく */
}

/* HEADER */

body {
    background-color: white;
}

.wrap {
    display: flex;
    position: absolute;
    background-color: white;
    opacity: 70%;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5% 3px 3%;
}
h1 {
    max-width: 150px;
    width: 100%;
    padding-left: 10%;
}
.nav_PC ul {
    display: flex;
    max-width: 100%;
    padding-top: 15px;
    align-items: center;
}
.nav_PC ul li {
    font-size: 17px;
    font-family: "fot-matisse-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #666666;
    padding-left: 52px;
}

.nav_PC :last-child {
    padding-bottom: 5px;
    max-width: none;
}

/* @media screen and (max-width: 1040px) { */
/* .nav_PC { */
/* max-width: 30%; */
/* } */
/* h1 { */
/* width: 50%; */
/* } */
/* } */

/* メインビジュアル */

.profile_main img {
    width: 100%;
    height: 750px;
}

.profile_mark {
    text-align: start;
    margin-top: -730px;
    width: 50%;
    padding-left: 106px;
}
.profile_mark img {
    width: 397px;
    /* Ami Kobayahshiのマークについて
    これはちゃんとレスポンシブになっているのかしら💦 */
}

.main_copy {
    position: absolute;
    right: 0;
    margin-top: -250px;
    padding-right: 100px;
    /* padding-top: 230px; */

    /* メインコピーをレスポンシブにするのに、これは位置が固定されてしまう！！
     そうしたらいい感じに動くようになるのでしょうか・・・ */
}
.copy {
    font-size: 25px;
    color: #818181;
    letter-spacing: 3px;
    line-height: 2;
}
.scroll {
    width: 2px;
    margin: -395px auto;
}

/* ここからAbout me */
#Aboutme {
    position: relative;
    padding-top: 300px;
    max-width: 1000px;
    margin: 0 auto;
}

/* .profile{ */

/* } */
.profile {
    width: 100%;
}

.who {
    font-size: 14px;
    letter-spacing: 2px;
}

#Aboutme h2 {
    font-size: 30px;
    font-weight: lighter;
    padding-top: 10px;
}
#Aboutme h2 span {
    font-family: "fot-matisse-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.job {
    font-size: 16px;
    font-family: "fot-matisse-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 10px;
    letter-spacing: 1px;
}

.aboutme {
    font-size: 16px;
    font-family: "fot-matisse-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 40px;
    line-height: 1.3;
    letter-spacing: 1px;
}
.aboutme span {
    letter-spacing: 0.5px;
}
.motto img {
    padding-top: 40px;
    width: 70px;
}
.motto p {
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 5px;
}

.motto p span {
    font-family: "fot-matisse-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
}

.love img {
    padding-top: 40px;
    max-width: 281px;
    width: 70px;
}
.love p {
    width: 100%;
    font-size: 16px;
    font-family: "fot-matisse-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-top: 5px;
}

.profile_photo {
    position: absolute;
    top: 190px;
    right: -20px;
    width: 50%;
}

.hude {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    top: 130px;
    left: -30px;

    z-index: -1;
}

#Aboutme .blueberry {
    position: absolute;
    top: 310px;
    right: -50px;
    width: 50%;
    padding-bottom: 50px;
}

.characters {
    display: flex;
    max-width: 1000px;
    width: 100%;
    padding-top: 150px;
    justify-content: space-around;
    padding-bottom: 100px;
}

.characters h3 {
    width: 233px;
}
ul {
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    line-height: 1.5;
}

.dotted_line01 {
    width: 234px;
}
.dotted_line02 {
    width: 234px;
}
.dotted_line03 {
    width: 234px;
}

.skills p {
    font-size: 10px;
    margin-left: 20px;
    margin-top: -15px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

/* ここからキャリア */

#carrer {
    position: relative;
    padding-top: 200px;
    margin: 0 auto;
}

.carrer_bird {
    position: absolute;
    right: 100px;
    margin-top: -80px;
}
#career h2 img {
    width: 18%;
}

.carrer {
    max-width: 1000px;
    margin: 0 auto;
}

#carrer .text {
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.5;
    max-width: 740px;
    width: 100%;
    padding-left: 100px;
}
.first {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 50px;
    padding-top: 100px;
}
.FIRST img {
    width: 145px;
    padding-right: 50px;
}

.second {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 50px;
}
.SECOND img {
    width: 145px;
    padding-right: 50px;
}
.third {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 50px;
}
.THIRD img {
    width: 145px;
    padding-right: 50px;
}

.haikei_carrer {
    position: relative;
    max-width: 500px;
    width: 80%;
    top: -650px;
    right: 150px;
    margin-left: 20px;
    transform: scale(-1, 1);
}

/* ここからVISION */
#vision {
    background: #e6f4f8;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -300px;
}

.vision {
    width: 12%;
    padding-left: 220px;
}

#vision p {
    display: block;
    max-width: 770px;
    width: 90%;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 2;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
    margin: 0 auto;
}

.berry_ashirai img {
    position: relative;
    width: 10%;
    top: 30px;
    right: -1200px;
}
/* このブドウ動かない */

/* ここからCONTACT */
#works {
    margin: 0 auto;
}

.bird03 {
    position: relative;
    padding-top: 40px;
    padding-left: 280px;
    margin: 0px auto;
    z-index: 2;
}

.circle {
    /* SPの時はborder:none;でこの線は消える */
    display: flex;
    /* flexとflex-directionセットで使うと縦揃う方法もあるよ*/
    position: relative;
    flex-direction: column;
    /* ↑売れると縦に組める、横に並んでいるものを縦にする 。
    　テキストと、ボタンを円の中央に置く発送なので、縦並びにする。*/
    justify-content: center;
    background: none;
    box-sizing: border-box;
    border: 2px solid rgba(179, 179, 191, 0.5);
    /*  rgba(179, 179, 191, 0.5)=aを追加すると透明度を指定できる*/
    border-radius: 50%;
    max-width: 900px;
    width: 90vw;
    /* デバイスの横に対して何％かを表すvw 
       %は親要素の幅を基準にするもの*/
    height: 90vw;
    max-height: 900px;
    opacity: 100%;
    margin: -160px auto 200px;
    /* margin-bottom: 200px; */
    /* margin-top: -150px; */
}
.dotted_circle {
    position: absolute;
    top: 20px;
    left: 60px;
    background: none;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px dotted #b3b3bf;
    width: 870px;
    height: 870px;
    opacity: 50%;
}
.contact_text {
    max-width: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
    padding-top: 200px;
}

/* このブルーベリーが、上に上がらない。
他の要素も全部上に上がってしまう！！ */
.top_contact_berry {
    position: absolute;
    top: 420px;
    right: -60px;
    width: 310px;
    text-align: center;
}

.top_btn_contact {
    position: relative;
    padding: 70px;
    z-index: 1;
}
.btn_contact {
    display: block;
    box-sizing: border-box;
    box-shadow: 2px 2px 15px #efefef;
    width: 185px;
    height: 84px;
    padding: 30px 20px;
    font-size: 18pt;
    font-family: "fot-matisse-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    background: #e4ead7;
    border-radius: 42px;
    margin: 0px auto;
}
.btn_contact:hover {
    display: block;
    border: 2px solid #e4ead7;
    box-shadow: 2px 2px 15px #efefef;
    width: 185px;
    height: 84px;
    padding: 30px 20px;
    font-size: 18pt;
    font-family: "fot-matisse-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    background: white;
    border-radius: 42px;
    margin: 0px auto;
}
/* ちょっとレスポンシブ対応できるかやってみたがごちゃごちゃに・・・意味なし。 */
@media screen and (max-width: 1040px) {
    .circle {
        display: none;
    }
    .dotted_circle {
        width: 332px;
        height: 332px;
        opacity: 70%;
    }
}

/* ここからfooter */

.footer_sky {
    /* padding-top: 100px;→フッターで指定しない。上の要素で指定すること */
    max-width: 100%;
    /* なんか、右の余白ができてしまう・・・ 
    　　他のエリアではみ出している層があっただけ*/
    width: 100%;
    height: 246px;
    margin: 0 auto;
}
.footer_sky img {
    width: 100%;
    height: 100%;
}
.nav_footer_PC ul {
    display: flex;
    justify-content: center;
    margin-top: -200px;
    padding-left: 20px;
}
.nav_footer_PC ul li {
    padding-left: 40px;
    font-family: "fot-matisse-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.Minori {
    font-family: "fot-matisse-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding-top: 80px;
}

.top_btn {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 100px;
}
