@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #666666;
    font-family: "筑紫A丸ゴシック", "FOT-マティス ProN M",
        "Savoye LET Plain:1.0", "メイリオ", "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", sans-serif;
    font-feature-settings: "palt";
    /* 上のやつは字幅メトリクスで指定 */
}

html {
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
    /*  */
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから課題 */

/* スマホ版のcssスタート ：pcとspを出し分ける*/
/* スマホ版メニューは消す */
.sp_nav,
.sp_btn {
    display: none;
    /* まずはpc版で非表示にしておく */
}

/* HEADER */

body {
    background-color: white;
}

.wrap {
    display: flex;
    position: absolute;
    background-color: white;
    opacity: 70%;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5% 3px 3%;
}
h1 {
    max-width: 20%;
    width: 150px;
    padding-left: 10%;
}
.nav_PC ul {
    display: flex;
    max-width: 100%;
    padding-top: 15px;
    align-items: center;
}
.nav_PC ul li {
    font-family: "FOT-マティス ProN M", sans-serif;
    /* フォントが変わらない💦 */
    font-size: 17px;
    color: #666666;
    padding-left: 52px;
}

.nav_PC :last-child {
    padding-bottom: 5px;
}

@media screen and (max-width: 767px) {
    .nav_PC {
        max-width: 30%;
    }
    h1 {
        width: 50%;
    }
}

/* メインビジュアル */

.main_visual_PC img {
    width: 100%;
}

.mark {
    text-align: center;
    margin-top: -650px;
    width: 100%;
}
.mark img {
    text-align: center;
    width: 500px;
    /* Ami Kobayahshiのマークについて
    これはちゃんとレスポンシブになっているのかしら💦 */
}

.main_copy {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 165px;
    padding-top: 230px;

    /* メインコピーをレスポンシブにするのに、これは位置が固定されてしまう！！
     そうしたらいい感じに動くようになるのでしょうか・・・ */
}
.copy {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 25px;
    color: #818181;
    letter-spacing: 3px;
    line-height: 2;
    font-feature-settings: initial;
}
.scroll {
    width: 3px;
    margin: 0 auto;
    padding-top: 85px;
}
/* @media screen and (max-width: 767px) { */
/* .main_visual_PC img { */
/* display: none; }*/

/* .sp_mark { */
/* display: block; */
/* } */
/* .mark img { */
/* display: none; */
/* Ami Kobayahshiのマークについて
        これはちゃんとレスポンシブになっているのかしら💦 */
/* } */
/* } */
/* Intoroduction */

.intro {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #666666;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 2.5;
    font-feature-settings: initial;
    margin: 0 auto;
    padding-top: 90px;
}

/* Profile */

.profile_text {
    position: relative;
    margin-left: 190px;
    margin-top: 450px;
    width: 100%;
    z-index: 1;
}
.who {
    font-size: 14px;
}

.profile h2 {
    font-size: 40px;
    font-family: "FOT-マティス ProN M", sans-serif;
    padding-top: 3px;
}
.jam {
    font-size: 16px;
    padding-top: 70px;
    letter-spacing: 3px;
}
.design_copy {
    font-size: 16px;
    padding-top: 20px;
    letter-spacing: 3px;
    line-height: 1.5;
}
.support {
    font-size: 16px;
    padding-top: 20px;
    letter-spacing: 3px;
    line-height: 1.5;
}
.btn01_eye {
    /* ドットの間隔、モーションと、円形になるようにもしないと😃 */
    background-color: white;
    width: 143px;
    border: 2px dotted #4a597b;
    margin-top: 80px;
    padding: 10px;
}

.view_more01:hover {
}

.profile_photo {
    position: absolute;
    right: 0;
    padding-right: 180px;
    margin-top: -550px;
    z-index: 2;
}

.hude {
    position: absolute;
    width: 1178px;
    margin-top: -200px;
    padding-left: 30px;
    z-index: -1;
}

.blueberry {
    width: 340px;
    right: 0;
    position: absolute;
    padding-right: 55px;
    margin-top: -440px;
    z-index: -2;
}

/* ここからSKILLS */

.bird01 {
    padding-top: 100px;
    text-align: center;
}
.circle {
    width: 440px;
    height: 440px;
    border-radius: 50%;
    background-color: white;
    margin: -50px auto;
}

/* またbackgroundが中途半端になってしまう・・・ 
*/
.skills_wrap {
    background: #e6f4f8;
    margin-top: 150px;
    padding-bottom: 100px;
    width: 100%;
}

.title_SKILLS {
    text-align: center;
    padding-top: 30px;
    padding-left: 20px;
}

.SKILLS {
    display: flex;
    padding-top: 150px;
    justify-content: center;
}
/* Design */
.design_contents {
    padding-right: 50px;
}

.design {
    padding-top: 0;
    padding-left: 1000px;
}

.icon_design {
    padding-top: 70px;
}

.text_design {
    padding-top: 60px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.coding_contents {
    padding-left: 50px;
}

.coding img {
    padding-left: 60px;
}

.icon_coding {
    padding-top: 70px;
}

.text_coding {
    padding-top: 60px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.8;
}

/* ここからWORKS */
.bird02 {
    padding-top: 40px;
    text-align: center;
}

.title_works {
    margin-bottom: -135px;
}

.haikei_tree01 {
    width: 890px;
    margin: 0 auto;
    z-index: -3;
}
.works {
    font-size: 14px;
    text-align: center;
    padding-bottom: 17px;
}
.blueberry_works {
    position: absolute;
    right: 520px;
    width: 90px;
}
.blueberry_works img {
    margin-top: -120px;
    transform: rotate(-7deg);
}
#WORKS h2 {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-family: "FOT-マティス ProN M";
}
.dotted {
    width: 30px;
    margin: 0 auto;
    padding-top: 8px;
}
.works_top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -600px;
}
.workshop img {
    width: 363px;
}

.btn02_eye {
    margin: 35px auto;
    width: 170px;
}

/* ここからCONTACT */
.bird03 {
    padding-top: 40px;
    padding-left: 280px;
    margin: 0 auto;
}

.circle {
    background: none;
    box-sizing: border-box;
    border: 2px solid #b3b3bf;
    width: 900px;
    height: 900px;
    opacity: 50%;
    margin-top: -1000px;
}
.dotted_circle {
    background: none;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px dotted #b3b3bf;
    width: 870px;
    height: 870px;
    opacity: 50%;
    margin-top: -870px;
    margin-left: 310px;
}
.contact_text {
    max-width: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
    padding-top: 200px;
}

/* このブルーベリーが、上に上がらない。
他の要素も全部上に上がってしまう！！ */
.top_contact_berry {
    width: 310px;
    text-align: center;
    margin-left: 1000px;
    margin-top: -200px;
}

.top_btn_contact {
    padding: 70px;
}
.btn_contact {
    box-sizing: border-box;
    width: 185px;
    height: 84px;
    padding: 30px 20px;
    font-size: 18pt;
    text-align: center;
    background: #e4ead7;
    border-radius: 42px;
    margin: 0px auto;
}

/* ちょっとレスポンシブ対応できるかやってみたがごちゃごちゃに・・・意味なし。 */
@media screen and (max-width: 767px) {
    .circle {
        display: none;
    }
    .dotted_circle {
        width: 332px;
        height: 332px;
        opacity: 70%;
    }
}

/* ここからfooter */

.footer_sky {
    max-width: 100%;
    /* なんか、右の余白ができてしまう・・・ */
    padding-top: 100px;
    width: 100%;
    height: 246px;
    margin: 0 auto;
}
.nav_footer_PC ul {
    display: flex;
    justify-content: center;
    margin-top: -200px;
    padding-left: 20px;
}
.nav_footer_PC ul li {
    padding-left: 40px;
}
.Minori {
    text-align: center;
    padding-top: 100px;
}

.top_btn {
    position: absolute;
    right: 100px;
    margin-top: -100px;
}
