@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-feature-settings: "palt";
    /* 上のやつは字幅メトリクスで指定 */
}

html {
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
    /*  */
}

/* テキストや画像にマウスが触れた時に何かが起こるもの。
　opacity→透明にする。０.５％透明するよって出す
　リンクで飛ぶよっていうのを表すときにこれをよく使う */
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから課題 */

/* header */

body {
    background: #e8d9bf;
    /* 全体の背景色指定 */
}

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
    /* ％にしておくことでよりレスポンシブに対応するようにする */
}
.header_logo {
    width: 226px;
}
.pc_nav ul {
    display: flex;
}
.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    /*  */
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

.img {
    max-width: 100%;
}
/* リード文のエリア */

.lead_sentense {
    text-align: center;
    /* 親要素にtextalineかければ小要素にも引き継がれる。
    テキストに関するcssは、親→子で継承される。 */
    margin: 0 auto;
    padding: 80px;
}
.english {
    font-size: 30px;
    /* font-weightはnormalで入れる（游明朝の場合） */
    padding-bottom: 30px;
}
.text-center {
    font-size: 82px;
    padding: 20px;
    line-height: 1.17;
    letter-spacing: 0.1em;
}

.main_sentense1 {
    font-size: 23px;
    padding-top: 10px;
    line-height: 1.62;
    letter-spacing: 0.1em;
}

.main_sentense1 span {
    display: inline-block;
}

/* ABOUS US */

.section {
    max-width: 1000px;
    margin: 0 auto;
}
#about {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.about_us_picture {
    padding-right: 80px;
    width: 50%;
}
.about_us_picture img {
    border-bottom-right-radius: 80px;
}
.main {
    width: 41%;
}
.main h2 {
    padding-top: 60px;
    width: 270px;
    padding-bottom: 40px;
}
.main_copy {
    font-size: 44px;
    font-weight: 200;
    line-height: 1.39;
    padding-bottom: 20px;
    text-align: start;
}

.main_sentense2 {
    font-size: 16px;
    line-height: 1.65;
    /* /* line-heightは行間を調整 */
}

/* ここからMENU */

#menu {
    /* idは＃で示す*/
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px;
}

/* sectionでh2は今後全部中央揃えなので、一気にcssかける */
section h2 {
    text-align: center;
}

/* id「MENU」の中にある、ulタグだから＃ */
#menu ul {
    display: flex;
    justify-content: space-between;
}

#menu ul li {
    /*⭐️重要⭐️display:flexを使う時、その子要素がならぶ
レイアウトの割合（比率）を決めてあげないといけない！ */
    width: 30%;
}

#menu ul li img {
    /* ul li入れないと、h2内の見出しMENUも角丸になちゃうので
    　より細かく指定してあげる（ul li) */
    border-top-right-radius: 45px;
    margin-bottom: -10px;
}

/* 最初の画像だけは角丸つけないので、
＃MENU imgの後にピンポイントでcss上書きする。 
first-childは効かなかった*/
#menu h2 {
    width: 150px;
    margin: 0 auto;
    /* 画像のサイズ、AIデータのWとHの数値をwidthに入れているけど
    　これでいいのか・・・？font-size使ってもサイズ変わらない */
    padding: 40px;
}

#menu h3 {
    color: #d30202;
    font-size: 35px;
    padding-left: 10px;
    font-weight: 400;
}

#menu p {
    font-size: 17px;
    font-weight: 200;
    line-height: 150%;
    padding-top: 15px;
}

/* ここからGallery */

#gallery {
    max-width: 100%;
}

#gallery h2 {
    width: 245px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
}
#gallery ul {
    display: flex;
}

#gallery img {
    border-top-right-radius: 0px;
}

/* ここからevent */

#event {
    max-width: 1000px;
    padding: 0 10px;
}

#event h2 {
    width: 173px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* ここからEVENTのニュース */
.event_detail {
    display: flex;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    border: 3px solid #4f260b;
    max-width: 100%;
    justify-content: center;
    overflow: hidden;
    /* はみ出た文の処理 */
    /* heightで箱の幅は指定しない！News追加された時にはみ出る */
}
.date {
    padding-bottom: 35px;
    padding-top: 35px;
    font-size: 23px;
    font-weight: 100;
    max-width: 100%;
    /* 縦幅heightで指定していいのか？→NGNGNGダメです
    　これ以上増えた時に対応しないから別の書き方がいいのか？→そうです！
    　　paddingで調整しよう */
}

#event ul li {
    display: flex;
    /* ここflex! */
    align-items: center;
}
#event li + li {
    padding-top: 20px;
}

#event time {
    padding-right: 55px;
}

.date a {
    text-decoration: 2px solid underline;
}

/* ここからアクセス */

#access {
    max-width: 100%;
}

#access h2 img {
    width: 213px;
    border-top-right-radius: 0px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

#access iframe {
    display: block;
    /* top: 0;　→position:absoluteやposition fixed?
    left: 0;  　 と一緒に使うよ！注意。だから適用されてない。  
    justify-content: center; →display:flex;と一緒に使う
    aline: items;もflexと一緒*/
    max-width: 100%;
}

/* hooter */

#footer {
    background-color: white;
    max-width: 1900px;
    margin: 0 auto;
    padding-top: 70px;
}

.footer {
    display: flex;
    max-width: 1000px;
    background-color: #fff;
    padding-left: 55px;
    margin: 0 auto;
}

.footer img {
    width: 213px;
    height: 50px;
    border-top-right-radius: 0px;
}
.footer ul {
    padding-left: 40px;
    padding-bottom: 30px;
    font-size: 20px;
}
.footer li {
    color: black;
    line-height: 1.95;
}

#footer p {
    text-align: center;
    padding-bottom: 80px;
}

.pagetop {
    width: 125px;
    right: 40px;
    bottom: 40px;
    position: fixed;
}

.pagetop a {
    transition: 0.3s;
}

.pagetop img {
    width: 100%;
    transition: 0.3s;
}

.active {
    opacity: 1;
    /* opacityは不透明どのこと */
    visibility: visible;
}

/*  */
